Primer: multiple issues

### 3. Actors

Mention Bob's Authorization Server (auth.otherpod.example)

### 4. Solid OIDC Flow
#### 4.1. Authorization Code Grant with PKCE Authorization Flow
(diagram): 7. Fetch Client WebID -> Fetch Client ID Document
#### 3. Retrieves OP Configuration
`solid_oidc_supported` is no longer used for discovery.

#### 8. Validate redirect url with Client ID Document
> If it is not, the OP MUST reject the request with a 403.

Neither OAuth 2.0 nor OIDC specify HTTP error code for the case of invalid redirect URI. Thus, it is up to OP which code to use. 400 is a common practice (Keycloak, Gluu, Ping); however, Auth0 uses 403, and IdentityServer4 responds with a 302 + redirect to error page. Therefore, it might be better not to mandate a 403 here.

#### 15. Validate code verifier
> The OP looks up the code that was saved earlier in a keystore. It checks to see that the client id in the keystore corresponds to the client id from the request. If it does not, it must reject the request with a 403.

As per RFC 7636 [Section 4.6](https://datatracker.ietf.org/doc/html/rfc7636#section-4.6) and RFC 6749 [Section 5.2](https://datatracker.ietf.org/doc/html/rfc6749#section-5.2), the request must be rejected with a 400 and `invalid_grant`.

> If they do not correspond the OP must reject the request with a 403.

(same)

#### 16. Validates DPoP Token Signature
> The OP extracts the client’s public key from the DPoP header (at header.jwk). It confirms that the DPoP token has a valid signature. If not, the OP must reject the request with a 403.

As per DPoP [Section 5](https://tools.ietf.org/id/draft-ietf-oauth-dpop-05.html#section-5) and RFC 6749 [Section 5.2](https://datatracker.ietf.org/doc/html/rfc6749#section-5.2), the request must be rejected with a 400 and `invalid_dpop_proof`.

#### 21. Sends tokens
```
{
    "id_token": "eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJodHRwczovL2FsaWNlLmNvb2xwb2QuZXhhbXBsZS9wcm9maWxlL2NhcmQjbWUiLCJhdWQiOiJodHRwczovL2RlY2VudHBob3Rvcy5leGFtcGxlL3dlYmlkI3RoaXMiLCJ3ZWJpZCI6Imh0dHBzOi8vYWxpY2UuY29vbHBvZC5leGFtcGxlL3Byb2ZpbGUvY2FyZCNtZSIsImlzcyI6Imh0dHBzOi8vc2VjdXJlYXV0aC5leGFtcGxlIiwianRpIjoiODQ0YTA5NWMtOWNkYi00N2U1LTk1MTAtMWRiYTk4N2MwYTVmIiwiaWF0IjoxNjAzMzg2NDQ4LCJleHAiOjE2MDMzODcwNDh9.T306vT8dmn9gQIMEdG92AM4WRnrhqWZTfDpovwqZ6Zn0mK9yxj0iOVGqXD4CW8-tzDTitNwEGorAo85atL0Oeg",
    "refresh_token": "eyJhbGciOiJub25lIn0.eyJqdGkiOiJhNzhiNDllZi03MWM1LTQ5ODUtYTUwYy01ZWYzYWVmMGZkOGYifQ."
}
```

As per RFC 6749 [Section 5.1](https://datatracker.ietf.org/doc/html/rfc6749#section-5.1), the `access_token` field of the token response is mandatory. Most likely it has been omitted here for brevity, but it would be nice to include it so that no impression is formed that we're requiring people to break the OAuth 2.0 spec. We could also mention that this access token could be used to retrieve user info from the OP (which might be richer than ID token), but in order to access the actual resource another token must be used, which will be subsequently exchanged for the ID token at the target AS.

### 4.2. Request Flow

#### 5. Checks ID Token expirations
> The AS checks if the id token is still valid by looking at the exp claim. If the token does not have an exp claim or the token is expired, the AS must reject the request with a 403.

In this case, the use of a 403 is correct :) as per User-Managed Access (UMA) 2.0 Grant for OAuth 2.0 Authorization [Section 3.3.6](https://docs.kantarainitiative.org/uma/wg/rec-oauth-uma-grant-2.0.html#rfc.section.3.3.6). It might be worth adding that the AS must include `need_info` and `required_claims` into the error response.

#### 6. Checks the DPoP token url and method
> The AS checks the htu and htm claims of the DPoP token. If the htu does not match the protocol, origin and path of the request or the htm does not correspond the the http method of the request, the AS must reject the request with a 403.

(same as  above; 400 + `invalid_dpop_proof` instead of 403)

#### 6.1. (Optional) Checks DPoP token unique identifier
(same)

#### 7. Checks DPoP signature against Access Token
> The AS first confirms that the DPoP token was signed by the public key listed in its header jwk. If it was not, the AS must reject the request with a 403.

(same; 400 + `invalid_dpop_proof`)

> The AS checks if the public key in the DPoP token’s header.jwk corresponds to the jwk thumbprint in the access token in the cnf field. If they do not, the OP must reject the request with a 403.

(This seems to be in conformance with UMA 2.0 Section 3.3.6; could mention `need_info` like above)

#### 9. Checks issuer
(same)

#### 12. Checks ID token signature validity
(same)

Thank you @dteleguin, later this week I should have time to make PR addressing those issues. Unless you would like to followup with PR yourself, which would be more than welcomed 🌟 

@dteleguin would you like to review #85 I believe @acoburn addressed all your suggestions in it.

resolved in #86 